@import '../design-system/themes/base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family-sans);
}
